html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 20px;
  background: linear-gradient(to bottom, #2b2b2b, red);
}

h1 {
  text-align: center;
  color: #c72311;
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#start-btn {
  padding: 10px 20px;
  background-color: #c72311;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

#start-btn:hover {
  background-color: #e74c3c;
}

#quiz-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #212121;
  border: 1px solid #c72311;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#question {
  margin-bottom: 20px;
  font-weight: bold;
}

#choices {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

#choices li {
  margin-bottom: 10px;
}

#choices button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #363636;
  border: 1px solid #c72311;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

#choices button:hover {
  background-color: #c72311;
}

#timer {
  text-align: right;
  margin-bottom: 20px;
  font-weight: bold;
}

#game-over {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #212121;
  border: 1px solid #c72311;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#game-over h2 {
  margin-bottom: 20px;
}

#score-form label {
  display: block;
  margin-bottom: 10px;
}

#score-form input[type="text"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #c72311;
  border-radius: 5px;
}

#score-form button {
  padding: 10px 20px;
  background-color: #2b2929;
  color: #ffffff;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#score-form button:hover {
  background-color: #c72311;
}

#high-score {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #212121;
  border: 1px solid #c72311;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#high-score h2 {
  margin-bottom: 20px;
}

#high-score ol {
  list-style-type: decimal;
  padding: 0;
  margin: 0;
}

#high-score li {
  margin-bottom: 10px;
}

.hide {
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 0.5s ease;
}

.slide-up {
  animation: slide-up 0.5s ease;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  #quiz-container {
    max-width: 100%;
  }

  #score-form input[type="text"] {
    width: 100%;
  }
}
